@* @model ImageUpload.Models.FileUpload
<form method="post" enctype="multipart/form-data" asp-action="FileUpload" asp-controller="Image">
    <div class="form-group">
        <label asp-for="FileName"></label>
        <input asp-for="FileName" class="form-control" />
        <span asp-validation-for="FileName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="MyFiles"></label>
        <input asp-for="MyFiles" type="file" multiple class="form-control" />
        <span asp-validation-for="MyFiles" class="text-danger"></span>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
</form> *@


@model FileUpload

<form asp-action="FileUpload" method="post" enctype="multipart/form-data">
    <div>
        <label for="Files">Select Files:</label>
        <input type="file" name="Files" id="Files" multiple />
    </div>

    <div>
        <button type="submit">Upload</button>
    </div>
</form>

@if (!ViewData.ModelState.IsValid)
{
    <div class="validation-summary-errors">
        <h4>Validation Errors:</h4>
        <ul>
            @foreach (var key in ViewData.ModelState.Keys)
            {
                if (ViewData.ModelState[key].ValidationState == Microsoft.AspNetCore.Mvc.ModelBinding.ModelValidationState.Invalid)
                {
                    foreach (var error in ViewData.ModelState[key].Errors)
                    {
                        <li>@error.ErrorMessage</li>
                    }
                }
            }
        </ul>
    </div>
}





